name: Apply PR Template

on:
  workflow_dispatch:
    tags:
      - 'v*' # Allows manual runs on tags starting with 'v'

jobs:
  deploy:
    name: Deploy to prod
    runs-on: ubuntu-latest
    steps:
      - name: Verify tag push
        run: |
          if [[ ! "${{ github.ref }}" =~ ^refs/tags/ ]]; then
            echo "❌ Este workflow só é executado em tags!"
            exit 1
          fi
          echo "✅ Deploy acionado para a tag: ${{ github.ref_name }}"
